<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="header item" routerLink="/">BallotApp.tech</a>
    <a class="item" routerLinkActive="active" routerLink="/ballot">
      <i class="list icon"></i>
      Ballot
    </a>
    <a class="item" routerLinkActive="active" routerLink="/results">
      <i class="sitemap icon"></i>
      Results
    </a>
    <a class="item" routerLinkActive="active" routerLink="/about">
      <i class="info icon"></i>
      About
    </a>
    <div class="right menu">
      <a class="item" routerLink="/login">
        <i class="sign in icon"></i>
        Login
      </a>
      <a class="item" routerLink="/logout">
        <i class="sign out icon"></i>
        Logout
      </a>
    </div>
  </div>
</div>
