<div class="ui container">
  <div class="ui hidden divider"></div>
  <div class="ui horizontal divider">
    <h1>{{election.name}}</h1>
  </div>
  <p>{{election.description}}</p>
  <div class="ui hidden divider"></div>
  <div *ngIf="election.ballots">
    <div *ngFor="let ballot of election.ballots">
      <app-basic-ballot *ngIf="ballot.type == 1" [ballot]="ballot"></app-basic-ballot>
      <app-no-abstain-ballot *ngIf="ballot.type == 2" [ballot]="ballot"></app-no-abstain-ballot>
      <app-av-ballot *ngIf="ballot.type == 3" [ballot]="ballot"></app-av-ballot>
      <app-stv-ballot *ngIf="ballot.type == 4" [ballot]="ballot"></app-stv-ballot>
    </div>
  </div>
</div>
